<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"          
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/index.xhtml">
        <ui:define name="body">
            <h3 align="center">Cadastro de Pessoa Juridica</h3>
            <h:form>
                <p:growl autoUpdate="true"/>
                <p:panelGrid columns="2">
                    Nome:<p:inputText value="#{pessoaJuridicaControle.pessoaJuridica.nome}" required="true" requiredMessage="O nome é obrigatório!"/>
                    CNPJ:<p:inputText value="#{pessoaJuridicaControle.pessoaJuridica.cnpj}"  required="true" requiredMessage="O CPF é obrigatório!"/>
                    IE:<p:inputText value="#{pessoaJuridicaControle.pessoaJuridica.ie}"/>
                    Telefone:<p:inputText value="#{pessoaJuridicaControle.pessoaJuridica.telefone}"/>
                    Celular:<p:inputText value="#{pessoaJuridicaControle.pessoaJuridica.celular}"/>
                    Endereco:<p:inputText value="#{pessoaJuridicaControle.pessoaJuridica.endereco}"/>
                    Numero:<p:inputText value="#{pessoaJuridicaControle.pessoaJuridica.numero}"/>
                    Bairro:<p:inputText value="#{pessoaJuridicaControle.pessoaJuridica.bairro}"/>
                    Cidade:<p:autoComplete value="#{pessoaJuridicaControle.pessoaJuridica.cidade}"
                                           completeMethod="#{pessoaJuridicaControle.listaFiltrando}"
                                           var="cid"
                                           itemLabel="#{cid.nome}"
                                           itemValue="#{cid}"
                                           forceSelection="true"
                                           converter="#{pessoaJuridicaControle.converterCidade}"/>
                    <p:commandButton value="Salvar" actionListener="#{pessoaJuridicaControle.salvar()}" action="listapessoa" ajax="false"/>
                    <p:commandButton value="Cancelar" action="listapessoa" immediate="true" ajax="false"/>
                </p:panelGrid>            
            </h:form>
        </ui:define>
    </ui:composition>
</html>