<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"          
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/index.xhtml">
        <ui:define name="body">
        <h3 align="center">Cadastro de Pessoa</h3>
        <h:form>            
            <p:dataTable value="#{pessoaControle.listaTodos()}" var="p"
                         paginator="true" rows="5">
                <p:column headerText="Código" filterBy="#{p.id}" filterMatchMode="contains">
                    #{p.id}
                </p:column>
                <p:column headerText="Nome" filterBy="#{p.nome}" filterMatchMode="contains">
                    #{p.nome}
                </p:column>
                <p:column headerText="CPF/CNPJ" filterBy="#{p.documento}" filterMatchMode="contains">
                    #{p.documento}
                </p:column>
                <p:column headerText="Cidade" filterBy="#{p.cidade.nome}" filterMatchMode="contains">
                    #{p.cidade.nome}
                </p:column>
                <p:column headerText="Operações">
                    <p:commandButton icon="ui-icon-trash" actionListener="#{pessoaControle.excluir(p)}" ajax="false"/>
                    <p:commandButton icon="ui-icon-pencil" action="#{pessoaControle.editar(p)}" ajax="false"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="Nova Pessoa Fisica" actionListener="#{pessoaFisicaControle.novo()}" action="editapessoafisica"/>
            <p:commandButton value="Nova Pessoa Juridica" actionListener="#{pessoaJuridicaControle.novo()}" action="editapessoajuridica"/>
            <p:commandButton value="Voltar" action="../index"/>
        </h:form>    
        </ui:define>
    </ui:composition>
</html>

