<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"          
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/index.xhtml">
        <ui:define name="body">
        <h3 align="center">Contas a Receber</h3>
        
        
        <h:form id="formulario">
            <p:panelGrid columns="2">
                <p:outputLabel value="Ciente"/>
                <p:autoComplete value="#{contaReceberControle.pessoa}"
                                completeMethod="#{vendaControle.listaFiltrando}"
                                var="pe"
                                converter="#{vendaControle.converterPessoa}"
                                itemLabel="#{pe.nome}"
                                itemValue="#{pe}"
                                forceSelection="true"/>
                <p:commandButton value="Buscar" ajax="true" update="formulario"/>
            </p:panelGrid>
            

            <p:dataTable value="#{contaReceberControle.listaTodos()}" var="e"
                         paginator="true" rows="5">
                <p:column headerText="Código" filterBy="#{e.id}" filterMatchMode="contains">
                    #{e.id}
                </p:column>
                <p:column headerText="Ciente" filterBy="#{e.venda.pessoa.nome}" filterMatchMode="contains">
                    #{e.venda.pessoa.nome}
                </p:column>
                <p:column headerText="Valor" filterBy="#{e.valor}" filterMatchMode="contains">
                    #{e.valor}
                </p:column>
                <p:column headerText="Data do Vencimento" filterBy="#{e.dataVencimento}" filterMatchMode="contains">
                    #{e.dataVencimento}
                </p:column>
                <p:column headerText="Status" filterBy="#{e.dataVencimento}" filterMatchMode="contains">
                    <p:outputLabel value="ABERTA" style="color: red;" rendered="#{!e.isPago()}"/>
                    <p:outputLabel value="PAGO" style="color: green;" rendered="#{e.isPago()}"/>
                </p:column>
                <p:column headerText="Operações">
                    <p:commandButton value="#{contaReceberControle.pegaStatus(e)}" actionListener="#{contaReceberControle.editar(e)}" ajax="false" action="listaContasReceber"/>
                    
                </p:column>
            </p:dataTable>
            <p:commandButton value="Voltar" action="../index"/>
        </h:form>    
        </ui:define>
    </ui:composition>
</html>

