<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"          
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/index.xhtml">
        <ui:define name="body">
            <h3 align="center">Movimento de Compra</h3>
            <h:form>
                <p:growl autoUpdate="true" showDetail="true"/>
                <p:panelGrid columns="2">
                    Data da Compra:<p:calendar value="#{compraControle.compra.dataServico}"
                                               pattern="dd/MM/yyyy"
                                               locale="pt_BR"/>
                    Cliente:<p:autoComplete value="#{compraControle.compra.pessoa}"
                                            completeMethod="#{compraControle.listaFiltrando}"
                                            var="pe"
                                            converter="#{compraControle.converterPessoa}"
                                            itemLabel="#{pe.nome}"
                                            itemValue="#{pe}"
                                            forceSelection="true"
                                            />
                    Total:<p:outputLabel value="#{compraControle.compra.valorTotal}" 
                                         converter="#{compraControle.moneyConverter}"
                                         style="color: blue; font-size: medium"
                                         id="campototal"/>
                </p:panelGrid>  
                <p:panel header="Itens de Produto" id="painelproduto">
                    Produto:<p:autoComplete value="#{compraControle.itensProduto.produto}"
                                            completeMethod="#{compraControle.listaFiltrandoProduto}"
                                            var="po"
                                            converter="#{compraControle.converterProduto}"
                                            itemLabel="#{po.nome}"
                                            itemValue="#{po}"
                                            forceSelection="true"
                                            >
                        <p:ajax update="precoProduto" event="itemSelect" listener="#{compraControle.setaValorProduto()}"/>
                    </p:autoComplete>
                    Preço:<p:inputText id="precoProduto" 
                                       converter="#{compraControle.moneyConverter}" 
                                       value="#{compraControle.itensProduto.valor}" 
                                       onkeydown="mascaraMonetaria(this)"
                                       size="10"/>
                    Quantidade:<p:inputText size="10" value="#{compraControle.itensProduto.quantidade}"/>
                    <p:commandButton value="ADD" actionListener="#{compraControle.addItemProduto()}" ajax="true" update="campototal painelproduto"/>
                    <p:dataTable 
                        value="#{compraControle.compra.itensProdutos}"
                        var="it"
                        emptyMessage="Nenhum serviço adicionado!">

                        <p:column headerText="Produto">
                            #{it.produto.nome}
                        </p:column>
                        <p:column headerText="Valor">
                            <p:outputLabel converter="#{compraControle.moneyConverter}"
                                           value="#{it.valor}"/>
                        </p:column>
                        <p:column headerText="Quantidade">
                            #{it.quantidade}
                        </p:column>
                        <p:column headerText="Subtotal">
                            <p:outputLabel converter="#{compraControle.moneyConverter}"
                                           value="#{it.subtotal}"/>                            
                        </p:column>
                        <p:column headerText="Operações">
                            <p:commandButton icon="ui-icon-trash" ajax="false" actionListener="#{compraControle.removerItemProduto(it)}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
                <p:panel header="Forma de Pagamento" id="painelcontas">
                    Numero parcelas:<p:inputText size="10" value="#{compraControle.numParcela}"/>
                    Data vencimento:<p:calendar value="#{compraControle.dtVencimento}"
                                                pattern="dd/MM/yyyy"
                                                locale="pt_BR"/>
                    <p:commandButton value="Gerar" 
                                     ajax="true" 
                                     update="painelcontas" 
                                     actionListener="#{compraControle.geraParcela()}"/>
                    <p:dataTable value="#{compraControle.compra.contasRecebers}"
                                 var="cr"
                                 emptyMessage="Nenhuma parcela gerada!">
                        <p:column headerText="Parcela">
                            <p:outputLabel value="#{cr.numeroParcela}"/>
                        </p:column>
                        <p:column headerText="Vencimento">
                            <p:outputLabel value="#{cr.dataVencimento}">
                                <f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
                            </p:outputLabel>
                        </p:column>
                        <p:column headerText="Valor">
                            <p:outputLabel value="#{cr.valor}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
                <p:commandButton value="Salvar" actionListener="#{compraControle.salvar()}" action="list" ajax="false"/>
                <p:commandButton value="Cancelar" action="listaordemservico" immediate="true" ajax="false"/>

            </h:form>
        </ui:define>
    </ui:composition>
</html>

