<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"          
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/index.xhtml">
        <ui:define name="body">
        <h3 align="center">Movimento de Ordem de Serviço</h3>
        <h:form>            
            <p:dataTable value="#{vendaControle.listaTodos()}" var="e"
                         paginator="true" rows="5">
                <p:column headerText="Data da OS" filterBy="#{e.dataServico}" filterMatchMode="contains">
                    <p:outputLabel value="#{e.dataServico}">
                        <f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
                    </p:outputLabel>
                </p:column>
                <p:column headerText="Cliente" filterBy="#{e.pessoa.nome}" filterMatchMode="contains">
                    #{e.pessoa.nome}
                </p:column>
                <p:column headerText="Valor Total" filterBy="#{e.valorTotal}" filterMatchMode="contains">
                    #{e.valorTotal}
                </p:column>
                <p:column headerText="Operações">
                    <p:commandButton icon="ui-icon-trash" actionListener="#{vendaControle.excluir(e)}" ajax="false"/>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{vendaControle.editar(e)}" action="editavenda" ajax="false"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="Novo" actionListener="#{vendaControle.novo()}" action="editavenda" ajax="false"/>
            <p:commandButton value="Voltar" action="../index"/>
        </h:form>    
        </ui:define>
    </ui:composition>
</html>

